body {
    margin: 0;
    text-align: center;
    font-family: 'Oswald', sans-serif;
    
}
h1 {
    margin: 50px 0 auto 0;
    font-size: 5.625rem;
    color:  #00D0FF;
}

h2 {
    font-size: 2.5rem;
    color: #00D0FF;
    font-weight: normal;
}

h3 {
    color: #00D0FF;
}

hr {
    border: dotted #D7CCCC 6px;
    border-bottom: none;
    width: 5%;
    margin: 100px auto;
}
 
.top-container {
    background-color: #020202 ;
    position: relative;
    padding-top: 100px;
}
.top-cloud {
    position: absolute;
    right: 300px;
    top: 50px;
}

.bottom-cloud {
    position: absolute;
    left: 300px;
    bottom: 300px;
    
}
.skill-row {
    width: 50%;
    margin: 100px auto 100px auto;
    text-align: left;
    line-height: 2;
}
.code-image {
    width: 25%;
    float: left;
    margin-right: 30px;
}
.gaming-image {
    width: 25%;
    float: right;
    margin-left: 30px;
}




.intro {
    width: 30%;
    margin: auto;
   
}
.middle-container {
    margin-top: 30px;
}
p {
    line-height: 2;
    font-weight: bold;
    
    
}

.contact-message {
    width: 40%;
    margin: 40px auto 60px;
}

.btn {
    background: #7bc9fa;
    background-image: -webkit-linear-gradient(top, #7bc9fa, #316382);
    background-image: -moz-linear-gradient(top, #7bc9fa, #316382);
    background-image: -ms-linear-gradient(top, #7bc9fa, #316382);
    background-image: -o-linear-gradient(top, #7bc9fa, #316382);
    background-image: linear-gradient(to bottom, #7bc9fa, #316382);
    -webkit-border-radius: 60;
    -moz-border-radius: 60;
    border-radius: 60px;
    text-shadow: 2px 2px 0px #666666;
    font-family: Georgia;
    color: #ffffff;
    font-size: 20px;
    padding: 10px 20px 10px 20px;
    text-decoration: none;
  }
  
  .btn:hover {
    background: #417ea3;
    background-image: -webkit-linear-gradient(top, #417ea3, #0099ff);
    background-image: -moz-linear-gradient(top, #417ea3, #0099ff);
    background-image: -ms-linear-gradient(top, #417ea3, #0099ff);
    background-image: -o-linear-gradient(top, #417ea3, #0099ff);
    background-image: linear-gradient(to bottom, #417ea3, #0099ff);
    text-decoration: none;
  }
  .contact-me {
      margin: 50px auto;
  }
  .bottom-container {
    background-color: #020202;
    padding: 50px 0 20px;
  }
  a {
      color: #00D0FF;
      margin: 10px 30px;
      text-decoration: none;
  }
a:hover {
    color: #CACAE0;
}

.copyright {
    color: #CACAE0;
    font-size: 0.75rem;
    padding: 20px 0;
}